body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  color: yellow;
}
 ol{
  list-style-type: none;
}
/* .app{
  border: 2px solid red;
} */

.a{
  border: 2px solid red;
  margin-bottom: 30px;
}
.b{
  margin-bottom: 30px;
  border: 2px solid rgb(0, 255, 128);
}
.c{
  margin-bottom: 30px;
  border: 2px solid rgb(10, 1, 1);
}
